body {
    background-color: purple;
    margin: 0;
    padding: 0; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;

}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px;
}

.video-wrapper {
    text-align: center;
    margin: 20px;
    width: calc(50% - 40px);
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: auto;
}

p {
    margin-top: 10px;
    color: white;
}