body {
    background-color: purple;
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif;
 }

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;

}

.video-container {
    width: 45%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: auto;
}

.caption {
    margin-top: 10px;
    color: white;
}

.video-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}